body{
    background-color: rgb(33, 33, 33);
}

@font-face {
    font-family: Inter var;
    src: url(fonts/Inter-roman-latin-var.woff2);
}

.container{
    left: 5px;
}

#right-header{
    width: 40%;
}

#cabecalho{
    position: relative;
    left: 5px;
    width: 100%;
    padding: 10px 75px 0 60px;
    height: 80px;
}

.home img{
    width: 40px;
    height: 35px;
}

.menu img{
    top:60%;
    transform: translateY(-50%);
    width: 30px;
    height: 25px;
}

.home{
    font-family: Inter var;
    font-size:  20px;
    color: white;
    font-weight: 600;
}


.invertColor{
    transform: scaleY(-1);
    filter: invert(100%)
}


#input-header{
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.119);
    border: none;
    backdrop-filter: blur(5px);
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}

#search{
    width: 60%;
    height: 100%;
}

#avatar-div{
    position: relative;
    height: 100%;
    width: 30%;
}

#avatar-div{
    position: relative;
    width: 70px;
    height: 70px;
}

#avatar-div img{
    width: 100%;
    border-radius: 50px;
}

.banner{
    height: 400px;
    object-position: 0px 30%;
    background: linear-gradient(to bottom, rgb((25 25 28) / 100%), rgb(25 26 28));
}

.imgBanner{
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    object-fit: cover;
}

#new-title{
    color: ghostwhite;
    padding: 0 0 0 60px;
}

.exposto{
    position: relative;
    display: flex;
    height: 100%;
    position: relative;
    left: 5px;
    width: 100%;
    padding: 10px 75px 16px 60px;
    height: 80px;
}

.exposto img{
    width: 20%;
}